# The following flags are set to test use of new features for python toolchains
# These flags will only work with Bazel 0.25.0 or above.
common --symlink_prefix=build/bazel-
common --workspace_status_command=scripts/bazel_workspace_status.sh
common --host_force_python=PY2
common --incompatible_use_python_toolchains